Repository tinkerbell/playground, pull requests merged in 2020-09, with the labels that each got.

#7 Bootstrap CI for Vagrant setup tutorial
  .github/workflows/vagrant-packet.yaml
  go.mod
  go.sum
  test/_vagrant/vagrant_test.go
Labels: ci-check/vagrant-setup

#11 vlib sounds wrong. libvirt is the right one
  README.md
Labels: ready-to-merge

#13 New home for terraform setup (cp from tink repo)
  deploy/terraform/.gitignore
  deploy/terraform/terraform/hardware_data.tpl
  deploy/terraform/terraform/install_package.sh
  deploy/terraform/terraform/main.tf
  deploy/terraform/terraform/outputs.tf
  deploy/terraform/terraform/variables.tf
  deploy/terraform/terraform/versions.tf
Labels: ready-to-merge

#16 Vagrant virtualbox worker env override fixes
  deploy/vagrant/Vagrantfile
  test/_vagrant/vagrant_test.go
Labels: ci-check/vagrant-setup, ready-to-merge

#15 Single place for all the tink stack version
  deploy/docker-compose.yml
  deploy/vagrant/scripts/tinkerbell.sh
  generate-envrc.sh
  setup.sh
  test/_vagrant/vagrant_test.go
Labels: ci-check/vagrant-setup, ready-to-merge
