Repository tinkerbell/playground, pull requests merged in 2021-02, with the labels that each got.

#48 Bootstrap Packer template for libvirt and Vbox
  deploy/vagrant/Vagrantfile
  deploy/vagrant/basebox/.gitignore
  deploy/vagrant/basebox/README.md
  deploy/vagrant/basebox/ubuntu1804/provision.sh
  deploy/vagrant/basebox/ubuntu1804/template.json
  deploy/vagrant/scripts/tinkerbell.sh
  shell.nix
Labels: ci-check/vagrant-setup, ready-to-merge

#51 Updates plan to use Metal provider, updates outputs accordingly
  deploy/terraform/main.tf
  deploy/terraform/outputs.tf
  deploy/terraform/variables.tf
Labels: ready-to-merge

#54 New tool to bump current_versions.sh automatically
  cmd/bump-version/envfile/envfile.go
  cmd/bump-version/git/git.go
  cmd/bump-version/image/image.go
  cmd/bump-version/image/image_test.go
  cmd/bump-version/main.go
  current_versions.sh
  go.mod
  go.sum
  test/_vagrant/vagrant_test.go
Labels: ci-check/vagrant-setup

#56 Removes conflicting composefile network instruction per #53 for boots…
  deploy/docker-compose.yml
Labels: ready-to-merge
